@import '../styles/_variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@700&display=swap');

header {
  @include columnDisplay();
  justify-content: space-between;
  background: #00295d;
  color: white;
  height: 5em;
  width: 100%;
  position: fixed;
  z-index: 3;
}
  .top-header {
    @include rowDisplay();
    padding: 0;
    justify-content: space-between;
    margin: 0;
    width: 100%;

  .logo-box {
    @include columnDisplay();
    justify-content: center;
    text-align: center;
    margin-left: 3em;

    .company-logo {
      @include rowDisplay();
      justify-content: flex-end;
      margin-bottom: 5px;

      .map-icon {
        width: 3.5em;
        margin-right: 10px;
      }
      .company-name {
        @include headerFont(1.65em);
        font-family: 'Red Rose', cursive;
        text-shadow: 2px 2px black;
        width: 250px;
      }
    }
    .tagline  {
      @include headerFont(1.25em);
      color: $goldenrod;
      margin: 0;
    }
  }
}
  
  nav {
    @include rowDisplay();
    padding: .5%;
    justify-content: space-evenly;
    width: 14em;
    margin: 0;
    margin-right: 3em;
    .nav-btns {
      @include headerFont(1em);
      letter-spacing: 3px;
      text-decoration: none;
      color: white;
      text-shadow: 2px 2px black;
      &:hover {
        text-shadow: 2px 2px black;
        color: $goldenrod;
      }
    }
  }
