@import '../styles/_variables.scss';

header {
  @include columnDisplay();
  justify-content: space-between;
  background: $darkBlue;
  color: white;
  height: 7em;
  width: 100%;
  position: fixed;
}
  .top-header {
    @include rowDisplay();
    padding: 0;
    justify-content: space-between;
    margin: 0;
    width: 100%;

  .logo-box {
    @include columnDisplay();
    justify-content: center;
    text-align: center;
    margin-left: 3em;

    .company-logo {
      @include rowDisplay();
      margin-bottom: 5px;

      .globe-image {
        width: 2.15em;
      }
      .company-name {
        @include headerFont(1.65em);
        margin-left: 10px;
        text-shadow: 2px 2px black;
      }
    }
    .tagline  {
      @include headerFont(1.25em);
      background: -webkit-linear-gradient(right, white, $lightBlue);
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
      margin: 0;
    }
  }
}
  
  nav {
    @include rowDisplay();
    justify-content: space-evenly;
    width: 100%;
    margin: 0;
    background: #00295d;
    .nav-btns {
      @include headerFont(1em);
      text-decoration: none;
      color: white;
      text-shadow: 2px 2px black;
      &:hover {
        text-shadow: 2px 2px black;
        color: $lightBlue;
      }
    }
  }
