@import '../styles/_variables.scss';

.aq-section {
  @include columnDisplay();

  .info-box-aq {
    @include rowDisplay();
    justify-content: space-evenly;
    width: 250px;
  }
  p {
    @include textFont(1.2em);
    color: $darkBlue;
  }
  .small-weather-icon {
        width: 1.75vw;
        margin: 0;
      }
}
