@import '../styles/_variables.scss';

.location-section {
  @include columnDisplay();
  padding: 2%;
  width: 80vw;
  height: 100vh;

  .loading {
    @include headerFont(1.25em);
    color: white;
    text-shadow: 2px 2px black;
    text-transform: uppercase;
  }

  .current-city {
    @include headerFont(4.5em);
    width: 100%;
    text-align: left;
    text-shadow: 2px 2px black;
  }
  .current-region {
    @include headerFont(1.25em);
    width: 100%;
    text-align: left;
    text-shadow: 2px 2px black;
  }

  .info-box { 
    background: white;
    border-radius: 14px;
    box-shadow: 3px 3px black; 
    margin: 20px auto;
    padding: 2%;
    width: 50vw;
    
    .info-box-header {
      @include headerFont(1.25em);
      color: $darkBlue;
      margin-bottom: 10px;
      letter-spacing: 2px;
    }

    .current-date {
      @include textFont(1em);
      color: $darkBlue;
      margin: 0;
      font-weight: bold;
    }

    .current-weather {
      @include rowDisplay();
      justify-content: space-between;

      .current-weather-left {
        @include rowDisplay();

        .current-temp {
          @include headerFont(3.5em);
          color: $darkBlue;
          margin-top: 5px;
        }

        .large-weather-icon {
          width: 4.5vw;
          margin: 0;
        }
      }

      .current-weather-right {
        @include columnDisplay();
        align-items: flex-end;
        width: 250px;

        .current-weather-right-list {
          @include rowDisplay();
          margin: 0;
          p {
            @include textFont(1em);
            margin-left: 5px;
          }
        }
      }
    }
  }
  .small-weather-icon {
        width: 1.75vw;
        margin: 0;
      }

    .aq-section {
  @include columnDisplay();

  .info-box-aq {
    @include rowDisplay();
    justify-content: space-evenly;
    width: 250px;
  }
  p {
    @include textFont(1.2em);
    color: $darkBlue;
  }
  
  }
}