@import '../styles/_variables.scss';

.location-section {
  @include columnDisplay();
  padding: 2%;
  width: 80vw;
  height: 100vh;

  .loading {
    @include headerFont(1.25em);
    color: white;
    text-shadow: 2px 2px black;
    text-transform: uppercase;
  }

  .current-city {
    @include headerFont(4.5em);
    width: 100%;
    text-align: left;
    text-shadow: 2px 2px black;
  }
  .current-region {
    @include headerFont(1.25em);
    width: 100%;
    text-align: left;
    text-shadow: 2px 2px black;
  }

  .info-box { 
    background: white;
    border-radius: 14px;
    box-shadow: 3px 3px black; 
    margin: 20px auto;
    padding: 2%;
    width: 50vw;
    
    .info-box-header {
      @include headerFont(1.25em);
      color: $darkBlue;
      margin-bottom: 10px;
      letter-spacing: 2px;
    }

    .current-date {
      @include textFont(1em);
      color: $darkBlue;
      margin: 0;
      font-weight: bold;
    }

    .current-weather {
      @include rowDisplay();
      justify-content: space-between;

      .current-weather-left {
        @include rowDisplay();

        .current-temp {
          @include headerFont(3.5em);
          color: $darkBlue;
          margin-top: 5px;
        }

        .large-weather-icon {
          width: 4.5vw;
          margin: 0;
        }
      }

      .current-weather-right {
        @include columnDisplay();
        align-items: flex-end;
        width: 250px;

        .current-weather-right-list {
          @include rowDisplay();
          margin: 0;
          p {
            @include textFont(1.2em);
            color: $darkBlue;
            margin-left: 5px;
          }
        }
      }
    }
  }
  
  .small-weather-icon {
    width: 1.75vw;
    margin: 0;
  }
  
  .aq-section {
    @include columnDisplay();
    
    .aq-top, .aq-middle, .aq-bottom, .activity {
      @include rowDisplay();
      width: 70%;
      margin-left: 20px;
    }

    .activity {
      margin-left: 70px;
    }
    
    .info-box-aq {
      @include rowDisplay();
      width: 250px;
    }
    .info-box-aq-discussion {
      @include columnDisplay();
      width: 70%;
      margin-left: 30px;
    }
    .disc-top {
      @include rowDisplay();
      width: 100%;
    }
    .discussion-text {
      width: 100%;
    }
    p {
      @include textFont(1.2em);
      color: $darkBlue;
      margin-left: 5px
    }
    
    .type {
      font-weight: bold;
    }
    
    .card-low {
    color: #41ab5b;
    text-shadow: .5px .5px black;
    }
    
    .card-moderate {
    color: $goldenrod;
    text-shadow: .5px .5px black;
    }
    
    .card-high {
    color: #db6307;
    text-shadow: .5px .5px black;
    }
    
    .card-very-high {
    color: #d12a46;
    text-shadow: .5px .5px black;
    }
    
    .card-extreme {
    color: #7c04bd;
    text-shadow: .5px .5px black;
    }
  }

}