@import '../styles/_variables.scss';

.weekly-weather {
  @include rowDisplay();
  margin: 0 auto;
  padding: 0;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 85%;


  .daily-weather {
    @include columnDisplay();
    padding: 0;
    margin: 10px;

    .list {
      @include rowDisplay();
      justify-content: space-evenly;
      width: 100px;
      // margin-left: 5px;
    }  
    .date {
      color: $darkBlue;
      font-weight: bold;
      font-size: 1em;
    }
    h3 {
      @include headerFont(1em);
      margin-left: 2px;
    }
    img {
        margin-top: .5em;
        margin-bottom: .5em;
        width: 4em;
      }
    p {
      @include textFont(.8em);
    }
    .unit {
      color: $darkBlue;
      font-weight: bold;
      margin-left: 3px;
    }
 
      .card-low {
        color: #41ab5b;
      }
  
      .card-moderate {
        color: $goldenrod;
      }
  
      .card-high {
        color: #db6307;
      }
  
      .card-very-high {
        color: #d12a46;
      }
  
      .card-extreme {
        color: #7c04bd;
      }
}
}