@import '../styles/_variables.scss';


.home {
  @include columnDisplay();
  padding: 2%;
  width: 70vw;
  overflow: none;
  
  .top-five-cities {
    @include rowDisplay();
    overflow: scroll;
    padding: 1%;
    width: 90vw;
    margin: 0;
  }

  .card-container {
    @include columnDisplay();
    justify-content: flex-end;
    background: white;
    box-shadow: 2px 2px black;
    border-radius: 14px;
    width: 250px;
    height: 250px;
    margin: 1em;
    padding: 2%;
  
    // display: grid;
    // grid-template-columns: repeat(5, 20%);
    // grid-template-rows: repeat(5, 20%);
  }

  .card-header {
    @include headerFont(1.5em);
    background: -webkit-radial-gradient($lightBlue, $darkBlue);
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
    text-shadow: .5px black;
    // color: $darkBlue;
    // grid-row: 1;
    // grid-column: 1/4;
  }
  .card-temp {
    @include headerFont(1.5em);
    color: $darkBlue;
    margin-top: .5em;
  }

  p {
    @include textFont(1em);
    color: black;
    font-weight: bold;
  }

  .card-temp {
    // grid-row: 1;
    // grid-column: 5;
  }
  
  .card-air {
    // grid-row: 4;
    // grid-column: 5;
  }

  .card-pollen {
    // grid-row: 3;
    // grid-column: 5;
  }

  .card-hazard {
    // grid-row: 4;
    // grid-column: 1/3;
  }
}





