@import '../styles/_variables.scss';


.home {
  @include columnDisplay();
  padding: 2%;
  width: 70vw;
  overflow: none;
  
  .card-carousel {
    @include rowDisplay();
    overflow: scroll;
    width: 80vw;
    margin: 0;
  }

  .home-info-box {
    background: white;
    border-radius: 14px;
    box-shadow: 3px 3px black; 
    margin: 20px auto;
    padding: 2%;
    
    width: 50vw;
  }

}





