@import '../styles/_variables.scss';

.card-container {
    @include columnDisplay();
    justify-content: center;
    background: white;
    box-shadow: 2px 2px 5px black;
    border: 2px solid $lightBlue;
    border-radius: 14px;
    width: 200px;
    height: 220px;
    margin: 1.5em;
    padding: 2%;
    img {
      margin: 0;
      width: 4em;
    }
    &:hover {
      border: 3px solid $goldenrod;
      transform: scale(1.05);
    }

    .card-header {
      @include headerFont(1.45em);
      text-shadow: .5px black;
      text-transform: uppercase;
      letter-spacing: 2px;
      color: $darkBlue;
      text-align: center;
      margin: 10px;
      text-shadow: .5px .5px black;
    }
    .data-numbers {
      @include rowDisplay();
    }
    .card-list {
      @include rowDisplay();
      align-items: flex-end;
      h3 {
        @include headerFont(1.45em);
        text-shadow: 1px 1px black;
      }
      .unit {
        @include textFont(.75em);
        color: $darkBlue;
        margin-left: 3px;
        margin-right: 5px;
        margin-bottom: 3px;
      }
      .card-temp {
        color: $darkBlue;
        text-shadow: .5px .5px black;
      }
      .card-low {
        @include textFont(1.25em);
        color: #41ab5b;
        text-shadow: .5px .5px black;
      }

      .card-moderate {
        @include textFont(1.25em);
        color: $goldenrod;
        text-shadow: .5px .5px black;
      }
  
      .card-high {
        @include textFont(1.25em);
        color: #db6307;
        text-shadow: .5px .5px black;

      }
  
      .card-very-high {
        @include textFont(1.25em);
        color: #d12a46;
        text-shadow: .5px .5px black;
      }
  
      .card-extreme {
        @include textFont(1.25em);
        color: #7c04bd;
        text-shadow: .5px .5px black;
      }
    }


  }