@import '../styles/_variables.scss';

.card-container {
    @include columnDisplay();
    justify-content: center;
    background: white;
    box-shadow: 2px 2px black;
    border: 2px solid $lightBlue;
    border-radius: 14px;
    width: 225px;
    height: 220px;
    margin: 1.5em;
    img {
      width: 4em;
    }
    &:hover {
      border: 3px solid $goldenrod;
      transform: scale(1.05);
    }

    .card-header {
      @include headerFont(1.45em);
      text-shadow: .5px black;
      text-transform: uppercase;
      letter-spacing: 2px;
      color: $darkBlue;
      text-align: center;
      margin: 10px;
    }
    p {
      @include textFont(1em);
      color: black;
      margin: 5px;
    }
    .card-air-temp {
      @include rowDisplay();
      align-items: flex-end;
      h3{
        @include headerFont(1.25em);
        color: $darkBlue;
        margin-left: 10px;
      }
      p {
        @include textFont(.75em);
        color: $darkBlue;
        margin: 0;
      }
    }

    .card-uvi-low {
      background: lightgreen;
      color: white;
    }

    .card-uvi-moderate {
      background: yellow;
      color: white;
    }

    .card-uvi-high {
      background: orange;
      color: white; 
    }

    .card-uvi-very-high {
      background: red;
      color: white;
    }

    .card-uvi-extreme {
      background: purple;
      color: white;
    }

  }