@import '../styles/_variables.scss';

.card-container {
    @include columnDisplay();
    justify-content: center;
    background: white;
    box-shadow: 2px 2px 5px black;
    border: 2px solid $lightBlue;
    border-radius: 14px;
    width: 200px;
    height: 200px;
    margin: 1.5em;
    img {
      margin-top: .5em;
      width: 4em;
    }
    &:hover {
      border: 3px solid $goldenrod;
      transform: scale(1.05);
    }

    .card-header {
      @include headerFont(1.45em);
      text-shadow: .5px black;
      text-transform: uppercase;
      letter-spacing: 2px;
      color: $darkBlue;
      text-align: center;
      margin: 10px;
      text-shadow: .5px .5px black;
    }
    .card-air-temp {
      @include rowDisplay();
      align-items: flex-end;
      h3 {
        @include headerFont(1.45em);
        margin-left: 10px;
        text-shadow: 1px 1px black;
      }
      .unit {
        @include textFont(.75em);
        color: $darkBlue;
        margin: 0;
      }
      .card-temp {
        color: $darkBlue;
        text-shadow: .5px .5px black;
      }
      .card-low {
        color: #41ab5b;
      }
  
      .card-moderate {
        color: $goldenrod;
      }
  
      .card-high {
        color: #db6307;
      }
  
      .card-very-high {
        color: #d12a46;
      }
  
      .card-extreme {
        color: #7c04bd;
      }
    }


  }