@import '../styles/_variables.scss';


.search-input {
  border-radius: 14px;
  border: none;
  padding: .5%;
  font-weight: bold;
  font-size: 16px;
  margin-right: 3em;
  text-align: center;
  box-shadow: 2px 2px black;
  width: 20em;
  &:hover {
    border: 2px solid $goldenrod;
  }
}