@import '../styles/_variables.scss';


.search-input {
  border-radius: 6px;
  border: none;
  // border-left: 2px solid $lightBlue;
  // border-top: 2px solid $lightBlue;
  margin-right: 3em;
  padding: .5%;
  font-weight: bold;
  font-size: 14px;
  box-shadow: 2px 2px black;
  width: 13em;
}