@import '../styles/_variables.scss';


.search-bar {
  @include rowDisplay();
  margin-right: 3em;
  padding: 2px;
  &:hover {
    border: 2px solid $goldenrod;
    border-radius: 14px;
  }
  .search-input {
    border-radius: 14px 0 0 14px;
    border: none;
    padding: .5%;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    box-shadow: 2px 2px black;
    width: 18em;
  }
  .search-icon {
    background: white;
    padding: 1.5%;
    width: 1em;
    border-radius: 0 14px 14px 0;
    box-shadow: 2px 2px black;
  }
}