@import '../styles/_variables.scss';

.App {
  @include columnDisplay();
  padding: 0;
  background: rgb(237,204,113);
  background: linear-gradient(180deg, rgba(237,204,113,1) 10%, rgba(51,166,242,1) 39%, rgba(0,41,93,1) 74%);
  height: 100%;
}

main {
  @include columnDisplay();
  padding: 0;
  width: 100%;
  overflow-y: scroll;
  margin-top: 8em;
  overflow-x: hidden;
}
