@import '../styles/_variables.scss';

.about-section {
  @include columnDisplay();
  padding: 2%;
  width: 70vw;
  img {
    width: 80%;
  }
}

.intro-text {
  margin: 0 auto;
  padding: 1%;
  width: 90vh;
  h2 {
    @include headerFont(1.7em);
    color: $darkBlue;
    text-align: center;
  }
  p {
    @include textFont(1em);
    text-align: justify;
  }
  
}