@import '../styles/_variables.scss';

.about-section {
  @include columnDisplay();
  padding: 2%;
  width: 70vw;
}

.intro-text {
  @include columnDisplay();
  background: white;
  border-radius: 14px;
  box-shadow: 3px 3px black; 
  margin: 20px auto;
  padding: 3%;
  h2 {
    @include headerFont(1.5em);
    color: $darkBlue;
    text-align: center;
    text-shadow: .5px .5px black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  p {
    @include textFont(18px);
    text-align: justify;
  } 
  
  .info-links {
    @include rowDisplay();
    padding: 0;
  }
  a {
    @include headerFont(1em);
    color: $darkBlue;
    margin: 5px;
    text-decoration: none;
    &:hover {
      color: $lightBlue;
      // text-shadow: 1px 1px black;
    }
  }
  .compare-link {
    font-size: 1.4em;
    margin: 15px;
  }
}

.legends {
  @include rowDisplay();
  width: 70vw;
  .aq-image {
    border-radius: 14px;
    box-shadow: 3px 3px black; 
    width: 30vw;
    margin: 20px auto;
  }
  
    table {
      background: white;
      border-radius: 14px;
      box-shadow: 3px 3px black; 
      margin: 20px;
      width: 35vw;
      padding: 2%;
      margin: 0 auto;
    }  
    thead {
      @include headerFont(1.5em);
      color: $darkBlue;
      margin: 10px;
    }
    tr {
      @include rowDisplay();
      justify-content: space-between;
     td {
       @include rowDisplay();
       p {
         @include textFont(1em);
         color: $darkBlue;
         margin: 0 10px;
       }
       .unit {
         text-align: left;
         margin: 0;
         font-weight: bold;
       }
     } 
    }
    .small-weather-icon {
        width: 2vw;
        margin: 0;
      }
  }


.credits {
  @include rowDisplay();
  @include textFont(1em);
  background: white;
  border-radius: 14px;
  box-shadow: 3px 3px black; 
  justify-content: center;
  flex-wrap: wrap;
  width: 60%;
  a {
    margin: 5px;
    &:hover {
      color: $lightBlue;
      // text-shadow: 1px 1px black;
    }
  }
  p {
    margin: 0 auto;
  }
}