@import '../styles/_variables.scss';


.results {
  @include columnDisplay();
  padding: 2%;
  width: 70vw;
  overflow: none;
  
  .results-info-box {
    @include rowDisplay();
    overflow: scroll;
    width: 80vw;
    margin: 0;
  }

}





