@import '../styles/_variables.scss';


.results {
  @include columnDisplay();
  padding: 2%;
  width: 70vw;
  overflow: none;
  
  .results-info-box {
    @include rowDisplay();
    overflow: scroll;
    width: 90vw;
    margin: 0;
  }

	h1 {
		@include headerFont(2em);
	}
}

.results-container {
    @include columnDisplay();
    justify-content: flex-start;
    background: white;
    box-shadow: 2px 2px black;
    border-radius: 14px;
    height: 225px;
    margin: 1.5em;
    padding: 2%;
    &:hover {
      transform: scale(1.05);
      border: 2px solid $goldenrod;
    }

    .card-header {
      @include headerFont(1.5em);
      text-shadow: .5px black;
      color: $darkBlue;
      margin: 10px;
      text-shadow: .5px .5px black;
    }
    .card-label {
      @include headerFont(1em);
      color: $darkBlue;
      margin-top: .5em;
      margin-bottom: .5em;
    }

    p {
      @include textFont(1em);
      color: black;
			font-weight: bold;
			margin-top: .5em;
    }
  }




